<div class="nav-content-wrapper">
    <a href="" class="brand">
        <div class="brand-container">
            <i class="fa-brands fa-python fa-2x"></i>
            <h3>Dev Academy</h3>
        </div>
    </a>
    <button class="burger-button" onclick="ToggleNav()"></button>
    <nav id="navigation">
        <ul class="navigation-list">
            <li>
                <a href="" class="active">course</a>
            </li>
            <li>
                <a href="">about</a>
            </li>
            <li>
                <a href="">ressource</a>
            </li>
        </ul>
    </nav>
</div>