:root {
    --slate-dark: #1e293b;
    --slate-50: #f8fafc;
    --slate-300: #cbd5e1;
    --primary-500: #10b981;

    --screen-large: 1536px;
    --screen-small: 760px;
}

/* GLOSSARY (Search for the strings below) 
    - LAYOUT
    - TEXT
    - BUTTONS
*/

/* LAYOUT */

html {
    height: 100%;
}

body {
    font-size: 16px;
    min-height: 100%;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav {
    background-color: var(--slate-dark);
    color: var(--slate-light);
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (min-width: 1536px) {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        max-width: var(--screen-large);
        margin-left: auto;
        margin-right: auto;  
    }

    .nav-toggle {
        display: none;

        @media screen and (max-width: 760px) {
            display: block;
        }
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: var(--slate-dark);
        padding: 2rem;
        margin-top: -500px;
        transition: all ease-in-out;
        transition-duration: 500ms;

        @media screen and (min-width: 760px) {
            padding: 0;
            margin-top: 0px;
            position: static;
        }
    }

    .nav-active {
        margin-top: 0;
    }

    .navigation-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;

        a {
            color: var(--slate-50);
            text-decoration: none;
            font-weight: 500;
            font-size: small;

            &:hover {
                color: var(--slate-300);
            }
        }

        a.active {
            color: var(--primary-500);
        }

        @media screen and (min-width: 760px) {
            flex-direction: row;
        }
    }

    .brand {
        text-decoration: none;
        color: var(--slate-50);

        .brand-container {
            display: flex;
            flex-direction: row;
            flex-grow: 0;
            flex-shrink: 0;
            gap: 0.5rem;
            align-items: center;

            i {
                color: var(--primary-500);
            }

            h3 {
                font-size: large;
            }
        }
    }
}

.content-wrapper {
    max-width: var(--screen-large);
    margin: 0 auto;

    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* TEXT */

/* BUTTONS */

.icon-button {

}